@font-face {
	font-family: UbuntuBoldItalic;
	src: url(fonts/Ubuntu-BI.ttf) format('truetype');
}

@font-face {
	font-family: RachanaBold;
	src: url(fonts/Rachana-Bold.ttf) format('truetype');
}

@font-face {
	font-family: NimbusSans;
	src: url(fonts/NimbusSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: Reforma1918Blanca;
	src: url(fonts/Reforma1918-Blanca.woff);
}

li {
	display: inline;
}


.titulo {
	display: table;
	margin: auto;
	height: 8rem;
}

body {
	background-color: #d8d8d8;
}

main {
	max-width: 60rem;
	margin: auto;
	display: block;
}


.hola {
	font-family: NimbusSans;
	font-size: 1.7rem;
	text-align: justify;
	color: #010050;
}

.presentacion {
	display: inline;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.7rem;
	font-style: normal;
	text-align: justify;
}

mark {
	background-color: yellow;
}

.stock-ticker {
	font-size: 1.7rem;
	font-family: "Times New Roman", Times, serifif;
	padding-block: 6px;
	border-block: 3px solid black;
	overflow: hidden;
	user-select: none;
	display: flex;
	gap: 2rem;
}

.stock-ticker ul {
	list-style: none;
	flex-shrink: 0;
	min-width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	background-color: yellow;

	animation: scroll 20s linear infinite;
}

@keyframes scroll {
	to {
		transform: translateX(calc(-100% - 20px));
	}
}

footer {
	max-width: 60 rem;
	display: inline-block;
	margin: auto;
}